/*! ===================================
                    TAILWIND IMPORTS
======================================*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*! ===================================
                    CSS GLOBAL STYLES
======================================*/